[Desktop Entry]
Type=Service
Name=%{APPNAME}Part
Name[ca]=%{APPNAME}Part
Name[ca@valencia]=%{APPNAME}Part
Name[cs]=%{APPNAME}Part
Name[es]=%{APPNAME}Part
Name[fi]=%{APPNAME}-osa
Name[gl]=%{APPNAME}Part
Name[it]=%{APPNAME}Part
Name[nb]=%{APPNAME}-del
Name[nl]=%{APPNAME}Part
Name[nn]=%{APPNAME}-del
Name[pt]=%{APPNAME}Part
Name[sl]=%{APPNAME}Part
Name[sr]=%{APPNAME}Part
Name[sr@ijekavian]=%{APPNAME}Part
Name[sr@ijekavianlatin]=%{APPNAME}Part
Name[sr@latin]=%{APPNAME}Part
Name[sv]=%{APPNAME}-delprogram
Name[uk]=%{APPNAME}Part
Name[x-test]=xx%{APPNAME}Partxx
Name[zh_CN]=%{APPNAME}Part
Name[zh_TW]=%{APPNAME}Part
Icon=%{APPNAMELC}
# TODO: replace with your custom supported mime types
MimeType=text/plain;
X-KDE-ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-Library=%{APPNAMELC}part
