[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KParts/ReadWritePart
X-KDE-Derived=KParts/ReadOnlyPart
Comment=KDE Component
Comment[pt_BR]=Componente do KDE
Comment[sk]=KDE komponent
Comment[uk]=Компонент KDE
Comment[x-test]=xxKDE Componentxx
