[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KParts/ReadWritePart
X-KDE-Derived=KParts/ReadOnlyPart
Comment=KDE Component
Comment[nl]=KDE-component
Comment[uk]=Компонент KDE
Comment[x-test]=xxKDE Componentxx
